body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}
.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
.white_A700_white_A700_00_border {
  border-image: linear-gradient(135deg, #ffffff, #ffffff00) 1;
}
.white_A700_00_gray_600_00_border {
  border-image: linear-gradient(135deg, #ffffff00, #78505049, #a9707000) 1;
}
.gray_500_gray_600_00_border {
  border-image: linear-gradient(135deg, #b39d9d, #78505049, #a9707000) 1;
}
.gray_600_gray_600_00_border {
  border-image: linear-gradient(135deg, #826e6e, #78505049, #a9707000) 1;
}
